* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-color {
    background: #212121;
}

.color-titulo {
    color: #212121;
}

.color-gray {
    color: #212121;
    font-size: 1.5em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(33,33,33,0.1);
    transition: 0.3s;
    cursor: pointer;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(33,33,33,0.2);
}

.text-color {
    color: #0336FF;
}

.btn-color {
    background: #0336FF;
    color: #F5F5F5;
    font-weight: lighter;
    transition: 0.3s;
}

.btn-color:hover {
    background: #0911E8;
    color: #F5F5F5;
    font-weight: lighter;
    transition: 0.3s;
}

.bg-color-card {
    background: #F5F5F5;
}

.text-footer {
    color: #F5F5F5;
}

.content {
    min-height: calc(77vh - 70px);
}

.contentProducto {
    min-height: calc(69vh - 70px);
}

.contentUsuario {
    min-height: calc(71vh - 70px);
}

.footer {
    display: block;
}

footer, a {
    color: #F5F5F5;
}

footer, a:hover {
    color: #D1D1D1;
}

footer, a:link {
    text-decoration: none;
}

#labelFile {
    padding: 6px 12px;
    background: #0336FF; 
    display: table;
    color: #F5F5F5;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.msj_color {
    color: #0336FF;
}

.alert-color {
    background: #F5F5F5;
}

.badge-color {
    background: #0336FF;
    color: #F5F5F5;
}

.bg-jumbotron {
    background: #F5F5F5;
}

.hero-image {
    background-image: url("../img/coding.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: relative;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.size {
    height: 425px;
    width: 100%;
    top: 0px;
    left: 0px;
}
  
a:link {
    text-decoration: none;
}